.MainPaperOuter {
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.MainPaper {
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 3vh;
	padding-bottom: 5vh;
}

.InnerPaperDivider {
	padding-top: 10px;
	padding-bottom: 10px;
}

.InnerButtons {
	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}

.DateButtons {
	padding-right: 5px;
	padding-left: 5px;
}

.DateButtonsOuter {
	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}