.MainPaperOuter {
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.MainPaperAdmin {
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 3vh;
	padding-bottom: 5vh;
}

.InnerPaperDivider {
	padding-top: 10px;
	padding-bottom: 10px;
}

.InnerButtons {
	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}

.DateButtons {
	padding-right: 5px;
	padding-left: 5px;
}

.DateButtonsOuter {
	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}

.Graph {
	height: 20vh;
	width: 30vw;
	padding-bottom: 5vh;
}

.GraphsRow {
	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	display: flex;
  	padding-bottom: 2vh;
  	padding-top: 2vh;
}