.MainCalendar {
  height: 75vh;
  justify-content: center;
}

.NutriologaCalendar {
	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.ToolbarCalendar {
	flex-direction: row;
  	justify-content: space-around;
  	display: flex;
  	padding-bottom: 10px;
}

.ToolbarItem {
	padding-left: 5px;
	padding-right: 5px;
}

.LeftCalendar {
	background-color: #E6E6FA;
	height: 90vh;
}

.rbc-event-label {
  display: none;
}

.MainCalendarPaper {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.PreMainPaper {
	padding-left: 30px;
	padding-right: 30px;
}

.ToolbarButtons {
	flex-direction: row;
  	display: flex;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}