.PacientePaper {
	padding-left: 20vw;
	padding-right: 20vw;
}

.PacientePaperInner {
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
}

.InnerPaperDivider {
	padding-top: 10px;
	padding-bottom: 10px;
}