.MainPaper {
	padding-right: 20vw;
	padding-top: 3vh;
	padding-left: 20vw;
}

.InnerPaperDivider {
	padding-top: 10px;
	padding-bottom: 10px;
}

.InnerPaperUpper {
	padding-top: 25px;
}

.InnerPaperIconDiv {
	display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-right: 15px;
   padding-left: 15px;
}

.InnerPaperButtonsDiv {
	justify-content: center;
	display: flex;
    flex-direction: row;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 20px;
    padding-top: 10px;
}

.InnerPaperButtonsUpperDiv {
    padding-right: 21.5vw;
}

.InnerButtons {
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}