.Header-Logo {
  height: 10vmin;
}

.Header {
   background-color: #E6E6FA;
   min-height: 5vh;
   display: flex;
   flex-direction: row-reverse;
   color:white;
   justify-content: space-between;
   align-items: center;
   padding-right: 25px;
   padding-left: 25px;
}

.IconsDiv{
	flex-direction: column;
	flex: 1;
	display: flex;
}

.Icon {
	padding-top: 2vh;
	padding-bottom: 1vh;
}

.LeftNav {
	background-color: #E6E6FA;
	height: 90vh;
}

.LogOutIcon {
	padding-left: 2.3vw;
}